@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin:0; 
    padding:0;  
}


/*Section-2*/

#section2 .map {
    top:20%; 
}
#element1 {
    top:27%;
    left:25%;
}
#element2 {
    top:32%; 
    left:70%; 
}
#subheading {
    top:65%; 
}

/*Section-3*/
#section3 {
    background: linear-gradient(180deg, black 60%, #04111D 40%);
}
#section3 .product {
    flex: 0 1 100%;
}






@media screen and (min-width: 1024px) {
    #menu {
        visibility: visible;
    }
    #section3 .product {
        flex: 0 1 calc(33.333% - 20px);
    
    }
    

    
  }